* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  margin: 20px;
  border-radius: 10px;
  height: 50px;
  width: 200px;
  background: rgb(71, 45, 26);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.garden {
  margin: 50px;
  background-color: rgb(15, 67, 19);
  border: 20px solid rgb(102, 94, 64);
  border-radius: 25px;
  width: 88%;
  height: 600px;
  display: flex;
}

.garden div img {
  width: 100%;
  height: 200px;
}

.farmThings {
  width: 100%;
  height: 200px;
  background-color: rgb(96, 174, 18);
  display: flex;
  justify-content: center;
  align-items: center;
}
